h1{
    text-align: center;
}

h3{
    margin: auto;
    text-align: center;
    max-width: 50rem;
}

h2{
    text-decoration: none;
}

#Galeria img {
    width: 32%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 5%;
    border: 10%;
}

#Galeria {
    background-color: rgb(255, 255, 255);
}
