h1{
    text-align: center;
}

h3{
    text-align: center;
    max-width: 50rem;
}

#Galeria img {
    width: 32%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 2%;
    border: 10%;
}

#Galeria {
    background-color: rgb(255, 255, 255);
}
