body{
    background-color: rgb(134, 137, 148);
}

h1{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: auto;
    text-align: center;
    max-width: 50rem;
}

.navega{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-style: italic;
}

.navega a{
    text-decoration: none;
    color: rgb(30, 27, 126);
}

#Galeria img {
    width: 32%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 5%;
    border: 10%;
}

#Galeria {
    background-color: rgb(134, 137, 148);
}

.formulari{
    background-color:cadetblue;
    width: auto;
    margin: auto;
    border-radius: 2rem;
}

.formulari legend{
    font-size: 1.5rem;
    font-weight: bold;
}

.camp{
    margin-bottom: 1rem;
}

.camp label{
    color: rgb(192, 192, 227);
    font-weight: bold;
}

.text-input{
    width: 95%;
    border: none;
    padding: 1rem;
    border-radius: 0.5rem;
}